---
layout: default
---

 <link rel="stylesheet" href="{{site.url}}/public/css/side-menu.css" />
 <style>
        .side-menu {
            width: 250px;
            top: 50px;
            right: 0;
        }
 </style>
<script type="text/javascript"  src="{{site.url}}/public/js/jquery.min.js"></script>
<script type="text/javascript"  src="{{site.url}}/public/js/jquery.side.menu.js"></script>
<script>
        $(function () {
            $('#main').sideMenu({
                hs: ['h1', 'h3']
            });
        });
</script>
<div id="menu"></div>


	<!-- <article  class="single row gutters"> </article>-->
	<div id="main" class="span9">
  <!-- the following show the post time on the top of post title-->
  <!--*<time class="published" datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date_to_long_string }}</time>-->
  <h1>{{ page.title }}</h1>
  {{ content }}

  {% include comments.html %}
  </div>



